.title-label-modify-mission {
    margin-left: 75%;
    display: flex;
}
.description-label-modify-mission {
    margin-left: 41%;
}
.description-label-modify-mission {
    margin-left: 41%;
}
.date-begin-modify-mession {
    display: flex;
    margin-left: 21%;
    margin-top: 4%; 
}
.date-end-modify-mession {
    display: flex;
    margin-left: 22.5%;
    margin-top: 4%;
}